<img #preview width="150">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" id="logo" title="Built with Angular 6">
<br>
<div *ngFor="let p of pics | filter : top">
    <h3>{{p.id}}</h3>
    <h3>{{p.title.substr(0, 30)}}</h3>
    <a href="{{p.thumbnailUrl}}" target="_blank">
    <app-thumbnail
        source="{{p.thumbnailUrl}}"
        width="50"
        (enter)="preview.src=$event"
        (leave)="preview.src=''">
    </app-thumbnail>
    </a>    
</div>
<div id="showTop">{{top}} items<br>on page</div>
<div id="rangeDiv">
    <button (click)="toMin()" title="5 items">&larr;</button>
    <button (click)="loadLess()" title="Load less">&darr;</button>
    <button (click)="toMid()" title="250 items">&harr;</button>
    <button (click)="loadMore()" title="Load more">&uarr;</button>
    <button (click)="toMax()" title="500 items">&rarr;</button>
    <br>
    &nbsp;&nbsp;&nbsp;
    <span>5 </span>
    <input type="range" min="5" max="500" step="5" [(ngModel)]="top" class="myRange">
    <span> 500</span>
</div>
<br>
<button id="loadMore" mat-button (click)="loadMore()">Load more <mat-icon>add_circle_outline</mat-icon></button>
<button id="loadLess" mat-button (click)="loadLess()">Load less <mat-icon>remove_circle_outline</mat-icon></button>
<br>
